.sans-serif {
  font-family: Proxima nova, Roboto, Helvetica now, Futura, Arial sans-serif;
}

h1 {
    color: grey; 
    text-align: left;
}

h2 {
    color: #0057B8;
    background-color: #FFD700;
    text-align: left;
    padding: 10px;
    border-radius: 12px;
}

h3 {
    color: blue;
    text-align: right;
}

strong {
    font-weight: bold;
}

.bluebg {
    color: #FFD700;
    background-color: #0057B8;
}
